<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

    <body>
        <%- include('nav') %>
        <header>

            <div class="header-left-container">
                <div class="header-left">
                    <div class="header-left-toptext">
                        <h1>List on the local MLS</h1>
                    </div>
                    <div class="h-txt-container">
                        <form class="guide-search-bar header-form" action="#" method="post">
                            <div class="input-container">
                                <i class="fa-solid fa-location-dot"></i>
                                <input type="text" name="address" id="search-input" placeholder="Enter your address"
                                    required="" autocomplete="off">
                            </div>
                            <button class="guide-search-btn">
                                <i class="fas fa-magnifying-glass"></i>
                                <span>Instant Evaluation</span>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="header-right">
                <div class="header-right-image">
                    <img src="images/lady-holding-hammer-1.png" alt="">
                </div>
            </div>
        </header>
            
            <section id="hiw" class="hiw">
                <div class="hiw-left">
                    <div class="hiw-img">

                    </div>
                </div>
                <div class="hiw-right">
                    <h5> Test the market before accepting our offer! </h5>
                    <p>Listing your home and tolerating showings is not a requirement at TAR, but if you want to test the market, you can do so for as long as you want. List your home with TAR for a weekend, a week, a month or for as long as you want. There’s no maximum or minimum listing period with TAR. We'll help you choose the right asking price, guide you through the process, and identify what improvements buyers will pay for. Listing with TAR means you can activate a Swift Sale at any time - without extra costs which may exist if you listed with any other brokerage.</p>
                </div>
            </section>
            <section id="hiw-more">
                <div class="m-h-header">
                    <h2>Benefits of Listing with TAR</h2>
                </div>
                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Professional Guidance </h5>
                            <p>Our local experts have the knowledge, experience, and the tools to guide you through every step of the selling process. We’ll present you with the options and let you make all the decisions to ensure that your real estate experience is pleasant and memorable for the right reasons.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Our Swift Sale and our Marketing = Your Advantage </h5>
                            <p>You won’t need to wait on a ‘subject to sale’ condition for the buyer to list and sell their home, because we can buy it! We also spend more money advertising than any other brokerage we know of, so it makes sense for your home to be seen where the buyers go.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Home Improvements to Maximize Your Sale Price </h5>
                            <p>You can access up to $25,000 to make the right improvements to net you a higher sale price. You simply pay us back when your home sells.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Fall-back to a Swift Sale </h5>
                            <p>If you aren’t getting the results you want, or if you find the perfect home and want to secure it without the costs of owning 2 homes at once, you’ll always have a Swift Sale available at no additional cost.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="/why-us" class="learn-more-link">More advantages of us</a>
                </div>
            </section>
           
            <section id="requirements">
                <div class="req-header">
                    <h2>A Swift Sale Is Right For You If You:</h2>
                </div>
                <div class="req-body">
                    <div class="req-img">
                        <img src="/images/expert-explaining-to-a-couple.jpg" alt="">
                    </div>
                    <ul class="req-list">
                        <li>Value price over convenience</li>
                        <li>Have time to prep & show your home</li>
                        <li>Prefer professional in-home guidance</li>
                        <li>Want to consider value adding improvements</li>
                        <li>Haven’t found your next home</li>
                        <li>Have a rural, recreational, or other type of home to sell</li>
                    </ul>
                </div>
                <div class="deals-btn">
                    <button class="estimates">Start</button>
                </div>
            </section>
            
            <%- include('faqs') %>
            <%- include('estimates') %>
                <%- include('footer') %>
    </body>

    <style>
        p {
            font-size: normal;
        }

        h2 {
            font-family: var(--dm);
        }

        .h-txt-container {
            background-color: transparent;
            margin: 20px auto;
        }
        header .header-left-container{
            margin-top: 20vh;
        }
        @media (max-width: 992px) {
            header .header-left-container {
                margin: 0px;
                padding-top: 90px;
                min-height: calc(100vh - 100px);
                display: grid;
                align-content: space-around;
                align-items: center;
            }
        }

        .hiw {
            display: grid;
            grid-template-rows: 1fr auto;
            gap: 1rem;
            max-width: 90vw;
            width: fit-content;
            margin: 25px auto;
            padding: 15px;
            background-color: rgba(203, 203, 203, 0.5);
            box-shadow: 1px 1px 5px 2px gray;
            border-radius: 5px;
        }

        .hiw-img {
            background: url(/images/woman-celebrating-successful-swift-sale.jpg);
            aspect-ratio: 3/2;
            background-size: contain !important;
            width: 300px;
            max-width: 90vw;
            margin: 5px auto;
            border-radius: 5px;
        }

        .hiw-img.e-1 {            
            background-image: url(/images/pro-real-estate-guidance.jpg);
        }

        .hiw-img.e-2 {
            background: url(/images/pexels-andrea-piacquadio-3756681.jpg);
        }

        .hiw-img.e-3 {
            background: url(/images/pexels-max-rahubovskiy-6758779.jpg);
        }

        .hiw-img.e-4 {
            background: url(/images/pexels-kindel-media-7578905.jpg);
            aspect-ratio: 16/9;
        }

        .hiw-right {
            max-width: 80vw;
            margin: 0px auto;
        }

        .hiw h5 {
            font-family: var(--dm);
            font-size: x-large;
            padding: 10px 5px;
        }

        .hiw p {
            font-size: 1rem;
        }

        @media screen and (min-width: 768px) {
            .hiw {
                grid-template-columns: 350px auto;
            }

            .hiw p {
                font-size: 1.1rem;
            }
        }

        .m-h-header {
            width: fit-content;
            padding: 10px;
            margin: 5px auto;
        }

        .m-h-header h2,
        #requirements h2 {
            text-align: center;
            font-size: 2.4rem;
        }

        @media screen and (min-width: 1080px) {
            .hiw {
                max-width: 75vw;
                margin: 10px auto;
                border-radius: 5px;
            }

            .hiw p {
                font-size: 1.2rem;
            }
        }

        .req-list li::before {
            display: inline-block;
            content: "\2713";
            margin-right: 8px;
            color: var(--orange);
            font-weight: 600;
        }

        #requirements {
            padding: 10px 5vw;

        }

        .req-img {
            text-align: center;
        }

        .req-img img {
            width: 60vw;
            max-width: 500px;
            border-radius: 10px;
        }

        .req-body {
            width: fit-content;
            margin: 10px auto;
            margin-bottom: 1rem;
            border-radius: 4px;
            padding: 15px;
            box-shadow: 1px 1px 5px 2px #808080c9;
        }

        .req-list {
            width: fit-content;
            margin: 10px auto;
        }

        .req-list li {
            list-style: none;
            list-style-type: none;
            margin: 0;
            font-family: "adobe-garamond-pro", serif;
            transition: ease 400ms;
            display: flex;
            align-items: center;
            padding: .3rem;
        }

        @media screen and (min-width: 768px) {
            .req-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
        
    </style>

</html>