<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

    <body>
        <%- include('nav') %>
            <header>

                <div class="header-left-container">
                    <div class="header-left">
                        <div class="header-left-toptext">
                            <h1>Pre-Market Sale</h1>
                        </div>
                        <div class="h-txt-container">
                            <form class="guide-search-bar header-form" action="#" method="post">
                                <div class="input-container">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <input type="text" name="address" id="search-input" placeholder="Enter your address"
                                        required="" autocomplete="off">
                                </div>
                                <button class="guide-search-btn">
                                    <i class="fas fa-magnifying-glass"></i>
                                    <span>Instant Evaluation</span>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="header-right">
                    <div class="header-right-image">
                        <img src="images/black-lady-realtor.png" alt="">
                    </div>
                </div>
            </header>
            <section id="guide">
                <h1>It’s So Easy. And It’s Guaranteed!</h1>
                <div class="guide-container">
                    <article class="guide-card">
                        <div class="guide-img">
                            <img src="./images/man-on-call.jpg" alt="">
                        </div>
                        <div class="guide-txt">
                            <h3>Step 1</h3>
                            <p>
                                Get an appraisal and our offer to buy your home at 90% of current value – verified by
                                appraisal.
                            </p>
                            <a href="#" class="learn-more-link">Get an appraisal</a>
                        </div>
                    </article>
                    <article class="guide-card">
                        <div class="guide-img">
                            <img src="./images/men-signing-contract.jpg"
                                alt="">
                        </div>
                        <div class="guide-txt">
                            <h3>Step 2</h3>
                            <p>
                                Accept our offer to sell without showings. Test the open market for a higher price with
                                an MLS
                                listing (optional) if you choose.
                            </p>
                        </div>
                    </article>
                </div>
            </section>
            <section id="hiw" class="hiw">
                <div class="hiw-left">
                    <div class="hiw-img">

                    </div>
                </div>
                <div class="hiw-right">
                    <h5> How it Works </h5>
                    <p>Activate
                        a Pre-Market Sale offer any time. We’ll offer to pay 90% of current value
                        (verified by an appraisal) on the day you choose to move - without
                        showings or hassles. You’ll also get 90% of any overage if we re-sell
                        the property for more than the appraised value. The payments are net to
                        you and there are no fees or commissions. You can activate our offer at
                        any time which means you can <span style="text-decoration: underline;">list on the local
                            MLS</span>
                        (optional) and fall back to a Pre-Market Sale if/when you choose - without
                        extra cost that may exist if you’re listed with another brokerage.</p>
                </div>
            </section>
            <section id="hiw-more">
                <div class="m-h-header">
                    <h2>Benefits of a Pre-Market Sale</h2>
                </div>
                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> A Certain Sale </h5>
                            <p>Sold! The minute you're ready. Hassle Free! We’ll make an offer to buy your home at 90%
                                of current market value (all fees and commissions included - no surprises). You can
                                activate our offer for a closing day that works best for you. Relax. You’re sold!</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Sell Without Listing </h5>
                            <p>Accepting our offer means the home you live in never goes on the market. We’ll re-sell
                                the property with a traditional listing on the open market after you’ve moved out.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Sell Without Showings </h5>
                            <p>Skip all the public showings, interruptions, traffic in and out of your home, and open
                                house weekends while strangers tour the home you live in. Accepting our offer means
                                you’re ‘selling’ and not ‘listing’ your home so no buyers will tour the home while you
                                live in it. The showings start after you’ve moved out.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Choose your Closing Day </h5>
                            <p>The freedom to choose your own moving day allows you to plan whatever’s next, calmly. Set
                                your sale, and purchase dates accordingly so that you don’t have to pay for 2 homes at
                                once. The freedom to set/change your sale date also lets you avoid selling your home
                                without having a home to move into which often results in putting things in storage and
                                renting for a period of time, then moving again. We help you avoid that and save on
                                these expenses!</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-5">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Avoid Double Mortgages & Double Moves </h5>
                            <p>If you’re buying another home, you get to schedule your sale date with your purchase date
                                to avoid paying ownership costs on 2 homes at once, or moving twice.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="deals">
                <div class="header">
                    <h2>You’re in Control of Your Sale!</h2>
                    <p>Accept our offer and sell without showings. If you want, you can test the market with an MLS
                        listing and
                        activate a Pre-Market Sale if/when you want - no extra fees.</p>
                </div>
                <div class="deals-container">
                    <div class="deal">
                        <div>
                            <h3>Pre-Market Sale </h3>
                            <p>For those who want a certain sale, to skip public showings, choose a moving date and more
                                convenient process. The easy way to sell your home.</p>
                        </div>
                        <ul>
                            <li>We pay you 90% of Market Value</li>
                            <li>Sell without listing</li>
                            <li>Sell Without showing</li>
                            <li>Avoid Double Moves</li>
                            <li>Avoid Double Mortgages</li>
                            <li>Buy Your next home confidently</li>
                        </ul>
                        <p> <i class="fa-solid fa-star"></i> We'll pay 90% of Market Value on the day you choose, PLUS
                            90% of any overage</p>
                            <a href="#" class="learn-more-link">Learn More →</a>
                    </div>
                    <div class="deal">
                        <div>
                            <h3>List on the Local MLS </h3>
                            <p>List with TAR like you're already sold! Receive in person professional
                                representation.
                                Activate a Pre-Market Sale at any time.</p>
                        </div>
                        <ul>
                            <li>$25,000 Improvement Advance Available</li>
                            <li>Local Expert Knowledge and Advice</li>
                            <li>Marketing Power</li>
                            <li>Saves on fees</li>
                            <li>Showing Schedule service</li>
                            <li>Fallback Cash Offer</li>
                        </ul>
                        <p> <i class="fa-solid fa-star"></i> Activate a Pre-Market Sale at any time, you're in control.</p>
                        <a href="#" class="learn-more-link">Learn More →</a>
                    </div>

                </div>
            </section>
            <section id="requirements">
                <div class="req-header">
                    <h2>A Pre-Market Sale Is Right For You If You:</h2>
                </div>
                <div class="req-body">
                    <div class="req-img">
                        <img src="/images/expert-explaining-to-a-couple.jpg" alt="">
                    </div>
                    <ul class="req-list">
                        <li>Value time & convenience</li>
                        <li>Have a busy lifestyle</li>
                        <li>Have pets who don’t love strangers</li>
                        <li>Like being in control and dislike surprises</li>
                        <li>Have another home waiting</li>
                        <li>Have a hard move out or condition date</li>
                    </ul>
                </div>
                <div class="deals-btn">
                    <button class="estimates">Start</button>
                </div>
            </section>

            <%- include('faqs') %>
            <%- include('estimates') %>
                <%- include('footer') %>
    </body>

    <style>
        p {
            font-size: normal;
        }

        h2 {
            font-family: var(--dm);
        }

        .h-txt-container {
            background-color: transparent;
            margin: 20px auto;
        }
        header .header-left-container{
            margin-top: 20vh;
        }
        @media (max-width: 992px) {
            header .header-left-container {
                margin: 0px;
                padding-top: 90px;
                min-height: calc(100vh - 100px);
                display: grid;
                align-content: space-around;
                align-items: center;
            }
        }

        #saleGuarantee h3,
        #guide h1 {
            color: black;
        }

        .hiw {
            display: grid;
            grid-template-rows: 1fr auto;
            gap: 1rem;
            max-width: 90vw;
            width: fit-content;
            margin: 40px auto;
            padding: 10px;
            background-color: rgba(235, 235, 235, 0.5);
            box-shadow: 1px 1px 5px 2px rgb(224, 224, 224);
            border-radius: 5px;
        }

        .hiw-img {
            background: url(/images/woman-celebrating-successful-swift-sale.jpg);
            aspect-ratio: 3/2;
            background-size: contain !important;
            width: 300px;
            max-width: 90vw;
            margin: 5px auto;
            border-radius: 5px;
        }

        .hiw-img.e-1 {
            background: url(/images/beautiful-house-beside-a-lake.jpg);
        }

        .hiw-img.e-2 {
            background: url(/images/excited-couple-raising-hands-happy-move-new-house.jpg);
        }

        .hiw-img.e-3 {
            background: url(/images/pexels-andrea-piacquadio-3756681.jpg);
        }

        .hiw-img.e-4 {
            background: url(/images/female-realtor-handing-couple-keys-their-new-home.jpg);
        }

        .hiw-img.e-5 {
            background: url(/images/pexels-mart-production-7415093.jpg);
            aspect-ratio: 1200/800;
        }

        .hiw-right {
            max-width: 80vw;
            margin: 0px auto;
        }

        .hiw h5 {
            font-family: var(--dm);
            font-size: x-large;
            padding: 10px 5px;
        }

        .hiw p {
            font-size: 1rem;
        }

        @media screen and (min-width: 768px) {
            .hiw {
                grid-template-columns: 350px auto;
            }

            .hiw p {
                font-size: 1.1rem;
            }
        }

        .m-h-header {
            width: fit-content;
            padding: 10px;
            margin: 5px auto;
        }

        .m-h-header h2,
        #requirements h2 {
            text-align: center;
            font-size: 2.4rem;
        }

        @media screen and (min-width: 1080px) {
            .hiw {
                max-width: 75vw;
                margin: 40px auto;
                border-radius: 5px;
            }

            .hiw p {
                font-size: 1.2rem;
            }
        }

        .req-list li::before {
            display: inline-block;
            content: "\2713";
            margin-right: 8px;
            color: var(--orange);
            font-weight: 600;
        }

        #requirements {
            padding: 10px 5vw;

        }

        .req-img {
            text-align: center;
        }

        .req-img img {
            width: 60vw;
            max-width: 500px;
            border-radius: 10px;
        }

        .req-body {
            width: fit-content;
            margin: 10px auto;
            margin-bottom: 1rem;
            border-radius: 4px;
            padding: 15px;
            box-shadow: 1px 1px 5px 2px #808080c9;
        }

        .req-list {
            width: fit-content;
            margin: 10px auto;
        }

        .req-list li {
            list-style: none;
            list-style-type: none;
            margin: 0;
            transition: ease 400ms;
            display: flex;
            align-items: center;
            padding: .3rem;
        }

        @media screen and (min-width: 768px) {
            .req-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
    </style>

</html>