<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

    <body>
        <%- include('nav') %>
            <header>

                <div class="header-left-container">
                    <div class="header-left">
                        <div class="header-left-toptext">
                            <h1>Benefits of Listing with</h1>
                            <h1>Trusted Advisers Realty</h1>
                        </div>
                        <div class="h-txt-container">
                            <form class="guide-search-bar header-form" action="#" method="post">
                                <div class="input-container">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <input type="text" name="address" id="search-input" placeholder="Enter your address"
                                        required="" autocomplete="off">
                                </div>
                                <button class="guide-search-btn">
                                    <i class="fas fa-magnifying-glass"></i>
                                    <span>Instant Evaluation</span>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="header-right">
                    <div class="header-right-image">
                        <img src="images/lady-holding-hammer-1.png" alt="">
                    </div>
                </div>
            </header>
            <section id="hiw-more">

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Our marketing experience We are marketing experts first and foremost </h5>
                            <p>The Trusted Advisors Realty team has a combined 40 years of marketing and sales
                                experience. We are the 1 exposure agents in Edmonton and the #1 agents in follow up
                                with a 100% buyer call back rate

                            </p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>We are committed to selling 100% of our listings.</h5>
                            <p>All agents must maintain a 100% listing-sales ratio as a condition of their employment
                                with Trusted Advisers Realty. This makes every agent focus on selling the listings they
                                have rather just focusing on getting more listings</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Maximum of 12 active listings per agent </h5>
                            <p>This is to ensure that agents don't list more homes than they can handle. We are the only
                                real estate brokerage that limit listing per agent. Our agents can therefore spend more
                                ume on selling your home than any other agent or brokerage can
                            </p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Relentless follow up and buyer call back </h5>
                            <p>Do you know that the average call back rate of listing realtors in Edmonton is less than
                                30%? We are the only brokerage that calls back every single buyer. We keep calling them
                                until we speak to them. Then we put them into our database for follow up. We keep
                                following up with the buyer until they buy or until they ask us to stop calling them</p>
                        </div>
                    </div>
                </div>
                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>The largest email mailing list of any brokerage in Edmonton </h5>
                            <p>We send monthly emails introducing your property to our 40,000 subscriber mailing list.
                                This professionally written email will include pictures, descriptions, and link to your
                                exclusive property webpage. This keeps your home top of mind and leads to lots of buyer
                                referrals.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Realtor top of mind networking </h5>
                            <p>We will talk to at least 3000 realtors per month to keep your house on top of their mind
                                This is possible because we employ people to do our marketing and thus our agents are
                                free to do phone sales </p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Listing description that sells </h5>
                            <p>We pay $250 to a professional script writer to write a description of your home that will
                                sell it. Our script writer is Edmonton based and knows Edmonton very well. Our listing
                                description includes every single advantage of your home and every single advantage or
                                your neighbourhood.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Fall-back to a Swift Sale </h5>
                            <p>If you aren’t getting the results you want, or if you find the perfect home and want to
                                secure it without the costs of owning 2 homes at once, you’ll always have a Swift Sale
                                available at no additional cost.</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Direct Mail and Flyer Distribution:</h5>
                            <p>We target flyer distribution to rental properties and condo apartment blocks close to
                                your area. Your home is directly exposed to potential buyers</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Free staging including home interior design and staging implementation </h5>
                            <p>Staging makes your home more desirable. We will essentially turn your home into a show
                                home helping it sell faster</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Local and online influencer direct mailing</h5>
                            <p>Church pastors, real estate investors group founders etc. We are the only brokerage in
                                Edmonton that sends monthly property flyers to all the local church pastors in Edmonton.
                            </p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Networking and co-marketing with local businesses</h5>
                            <p>Like, moving companies, renovation contractors, mortgage brokers to exchange home buyers
                                and home seller referrals.</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Social media marketing</h5>
                            <p>Involves creating and posting ads on social media platforms like Tik-Tok and Facebook.
                                Our full-time marketing specialists are required to post your home at minimum of 5
                                posting a day on the 10 major social media sites. Because we have a full-time marketing
                                team, our agents are free to follow up on buy calls. That is why we have a 100%
                                follow-up rate.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Social media engagement </h5>
                            <p>We have a team of five full-time employees talking to home buyers on social media about
                                our listings. Our constant presence and engagement in social media mean we generate a
                                ton of leads. Because this job in not done by our agent, this free them up to do in
                                person sales.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Search engine marketing</h5>
                            <p>We run paid search engine ads using Google, Yahoo and Microsoft Bing to target homebuyers
                                searching for homes online and direct them to your property landing page. We employ a
                                full time Google Ad certified search engine marketing expert based in Nairobi Kenya.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Referral Incentive Programs</h5>
                            <p>We super charge our buyer's referral generation by offering cash gift incentives for
                                referrals that lead to a sale. We offer $500 cash payment for referrals that lead to a
                                transaction and $25 gift card for any referrals. We generate 150% more referrals than
                                any other Edmonton brokerage by using this program.</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>10,000 Past Clients mailing list</h5>
                            <p>We have a database of past clients in the thousands, and we constantly remind them about
                                our listings and ask for referrals of potential buyers</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Mailing list creation </h5>
                            <p>We collect the names, phone numbers and email address of homebuyers showing interest in
                                your house for email campaigns and follow up.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Text message marketing</h5>
                            <p>We send monthly text message reminders to anyone that has shown interest in your house.
                                The more often people are reminded of your home they more like they will refer a buyer
                                to us.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Regular posting to all real estate marketplaces</h5>
                            <p>Like Kijiji.ca, Facebook marketplace, Townpost.ca, reddit and real estate investment
                                meetup groups and chat forums. You get maximum exposure for your home when you list with
                                us.</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Free professional photography</h5>
                            <p>We work with Edmonton's top real estate photographer to provide you with 50 magazine
                                level professional pictures that are digitally enhanced using Lightroom photo editing
                                software. Your pictures will stand out when you list with us.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> 3D Virtual Tour </h5>
                            <p>We use the best virtual walkthrough technology provided by Matterport and
                                mantis3d.com.Please check out the stunning walkthroughs at mantis3d.com.This helps
                                remote buyers visualize living in your home.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Drone Aerial photography</h5>
                            <p>This gives the buyer a bird's eye view of the community they are going to the moving
                                into. We capture and highlight the amenities that attract buyers to the area. This helps
                                home buyers understand that your neighbourhood is the best for them.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Virtual Staging and interior design</h5>
                            <p>Is a photo enhancement technique that is used to add furniture and beautiful objects into
                                pictures to bring out the beauty and functionality of the spaces in your house</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Free professional appraisal</h5>
                            <p>We always encourage sellers to get independent appraisal in addition to the free home
                                valuation that we provide. We even offer to pay for it.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Post Video of your property on YouTube, TikTok, Vimeo and other video sharing websites
                            </h5>
                            <p>Video advertising generates high quality leads because that have already viewed your home
                                before they call us.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Single Property Website</h5>
                            <p>We will create a landing page on our website for your property and your neighborhood.
                                Your landing page is then used to generate buyer leads through search engine marketing
                                giving your more exposure</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Monthly open house</h5>
                            <p>This is an old-school marketing strategy that we still offer to clients. It is a way to
                                generate buyer referrals from your community.</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Free renovation and repair quotations</h5>
                            <p>If you need renovation to increase the value of your home our trusted renovation partners
                                will provide competitive prices helping you remove the risk and stress that often goes
                                with hiring contractors.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Tabletop display package </h5>
                            <p>Including property brochure, repair quotation, real property reposts, nearby schools,
                                public amenities and transportation and recently sold property in the area. Our tabletop
                                display serves to differentiate your house other homes they have visited.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Television and Radio Market where necessary and cost effective</h5>
                            <p>Justin lyizoba has over 10 years' experience buying television and radio advertising in
                                the Edmonton Area.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Garage Sale</h5>
                            <p>We help you organize garage sale to declutter your house. We help you capture buyer lead
                                and get referrals from your garage sale</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Commission Bonus</h5>
                            <p>We will offer buyers agents bonus commission when they find a buyer for your house. This
                                strategy is very effective in a buyer's market because buyer agents remember your house.
                            </p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> For Sale Sign </h5>
                            <p>We will install and maintain any signage required to market your house</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Pay per click Ads</h5>
                            <p>Targeted advertising to rental properties and condo blocks in your area.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Online Ad Retargeting</h5>
                            <p>Ad retargeting is technology that enables us to make your home for sale ads follow home
                                buyers around the internet. We use retargeting to keep your home top of mind for buyers
                                online.</p>
                        </div>
                    </div>
                </div>

                <div class="m-h-body">
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-1">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Oversea buyer marketing</h5>
                            <p>Our international referral network includes over 15000 real estate agents, relocation
                                companies and immigration consultants etc. With us you get maximum exposure.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-2">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5> Buyer Incentive Program: </h5>
                            <p>Including free pre-possession cleaning, free mail redirect and free lock rekeying. The
                                aim of our buyer incentive program is to increase the ease of ownership to the buyer
                                such that he will put your home ahead of other competitor listings.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-3">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5>Borrowed down payment program </h5>
                            <p>If a buyer is working with one of our agents, our mortgage specialist partners can
                                provide access to borrowed down payment programs to help complete the deal.</p>
                        </div>
                    </div>
                    <div class="hiw">
                        <div class="hiw-left">
                            <div class="hiw-img e-4">

                            </div>
                        </div>
                        <div class="hiw-right">
                            <h5></h5>
                            <p></p>
                        </div>
                    </div>
                </div>

            </section>

            <section id="requirements">
                <div class="req-header">
                    <h2>A Swift Sale Is Right For You If You:</h2>
                </div>
                <div class="req-body">
                    <div class="req-img">
                        <img src="/images/expert-explaining-to-a-couple.jpg" alt="">
                    </div>
                    <ul class="req-list">
                        <li>Value price over convenience</li>
                        <li>Have time to prep & show your home</li>
                        <li>Prefer professional in-home guidance</li>
                        <li>Want to consider value adding improvements</li>
                        <li>Haven’t found your next home</li>
                        <li>Have a rural, recreational, or other type of home to sell</li>
                    </ul>
                </div>
                <div class="deals-btn">
                    <button class="estimates">Start</button>
                </div>
            </section>

            <%- include('faqs') %>
                <%- include('estimates') %>
                    <%- include('footer') %>
    </body>

    <style>
        p {
            font-size: normal;
        }

        h2 {
            font-family: var(--dm);
        }

        .h-txt-container {
            background-color: transparent;
            margin: 20px auto;
        }

        header .header-left-container {
            margin-top: 20vh;
        }

        @media (max-width: 992px) {
            header .header-left-container {
                margin: 0px;
                padding-top: 90px;
                min-height: calc(100vh - 100px);
                display: grid;
                align-content: space-around;
                align-items: center;
            }
        }

        .hiw {
            display: grid;
            grid-template-rows: 1fr auto;
            gap: 1rem;
            max-width: 90vw;
            width: fit-content;
            margin: 25px auto;
            padding: 15px;
            background-color: rgba(203, 203, 203, 0.5);
            box-shadow: 1px 1px 5px 2px gray;
            border-radius: 5px;
        }

        .hiw-img {
            background: url(/images/woman-celebrating-successful-swift-sale.jpg);
            aspect-ratio: 3/2;
            background-size: contain !important;
            width: 300px;
            max-width: 90vw;
            margin: 5px auto;
            border-radius: 5px;
        }

        .hiw-img.e-1 {
            background-image: url(/images/pro-real-estate-guidance.jpg);
        }

        .hiw-img.e-2 {
            background: url(/images/pexels-andrea-piacquadio-3756681.jpg);
        }

        .hiw-img.e-3 {
            background: url(/images/pexels-max-rahubovskiy-6758779.jpg);
        }

        .hiw-img.e-4 {
            background: url(/images/pexels-kindel-media-7578905.jpg);
            aspect-ratio: 16/9;
        }

        .hiw-right {
            max-width: 80vw;
            margin: 0px auto;
        }

        .hiw h5 {
            font-family: var(--dm);
            font-size: x-large;
            padding: 10px 5px;
        }

        .hiw p {
            font-size: 1rem;
        }

        @media screen and (min-width: 768px) {
            .hiw {
                grid-template-columns: 350px auto;
            }

            .hiw p {
                font-size: 1.1rem;
            }
        }

        .m-h-header {
            width: fit-content;
            padding: 10px;
            margin: 5px auto;
        }

        .m-h-header h2,
        #requirements h2 {
            text-align: center;
            font-size: 2.4rem;
        }

        @media screen and (min-width: 1080px) {
            .hiw {
                max-width: 75vw;
                margin: 10px auto;
                border-radius: 5px;
            }

            .hiw p {
                font-size: 1.2rem;
            }
        }

        .req-list li::before {
            display: inline-block;
            content: "\2713";
            margin-right: 8px;
            color: var(--orange);
            font-weight: 600;
        }

        #requirements {
            padding: 10px 5vw;

        }

        .req-img {
            text-align: center;
        }

        .req-img img {
            width: 60vw;
            max-width: 500px;
            border-radius: 10px;
        }

        .req-body {
            width: fit-content;
            margin: 10px auto;
            margin-bottom: 1rem;
            border-radius: 4px;
            padding: 15px;
            box-shadow: 1px 1px 5px 2px #808080c9;
        }

        .req-list {
            width: fit-content;
            margin: 10px auto;
        }

        .req-list li {
            list-style: none;
            list-style-type: none;
            margin: 0;
            font-family: "adobe-garamond-pro", serif;
            transition: ease 400ms;
            display: flex;
            align-items: center;
            padding: .3rem;
        }

        @media screen and (min-width: 768px) {
            .req-list {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
    </style>

</html>